body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  .room{
    width: 100vw;
    height: 100vh;
    overflow: hidden;  
    background-color: rgb(44, 44, 44);
/*     position: fixed;
    top: 0;
    left: 0;
 */  }

}